body {
    background-color: black; /* Fallback background color */
    background-image: url(C:/Users/Vic/Downloads/nightwater.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cursor-effect {
    display: none;
}

.cursor-container {
    display: none;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
    object-fit: cover; /* Ensure the image covers the entire area */
}

.profile-text {
    font-size: 18px;
    color: white;
    margin-bottom: 5px; /* Further reduced margin */
}

.header h1 {
    margin-top: 5px; /* Further reduced margin */
    margin-bottom: 10px; /* Adjust as needed */
}
